# Workspace
.idea
.vs

# Stella Mod Plus
patrons/*.zip
patrons/benefits/*.zip
patrons/benefits/2/*.zip
patrons/benefits/3/*.zip

# Zip files
public/resources/resources.zip

# Screenshots
public/resources/Screenshots/*.jpg
public/resources/Screenshots/*.jpeg
public/resources/Screenshots/*.png

# ReShade cache
public/resources/ReShade/Cache/*.i
public/resources/ReShade/Cache/*.asm
public/resources/ReShade/Cache/*.cso
public/resources/ReShade/Cache/reshade-*