# Workspace
.idea
.vs

# Zip files
public/resources/resources.zip

# ReShade cache
public/resources/ReShade/Cache/*.i
public/resources/ReShade/Cache/*.asm
public/resources/ReShade/Cache/*.cso
public/resources/ReShade/Cache/reshade-*