# Workspace
.idea
.vs

# Zip files
public/resources/resources.zip

# Screenshots
public/resources/Screenshots/*.jpg
public/resources/Screenshots/*.jpeg
public/resources/Screenshots/*.png

# ReShade cache
public/resources/ReShade/Cache/*.i
public/resources/ReShade/Cache/*.asm
public/resources/ReShade/Cache/*.cso
public/resources/ReShade/Cache/reshade-*